header{
    .MuiTypography-root-50.MuiTypography-h5-66.MuiTypography-colorInherit-79{
        margin: 0rem 1rem;
    }
    .userActions{
        display: flex;
        margin-left: auto;
        >div{
            cursor:pointer;
            margin: 0rem .25rem;
        }
    }
}