.home {
  display: grid;
  grid-template-areas: "home__ledger home__actionMenu";
  grid-auto-rows: auto;
  grid-template-columns: 4fr 1fr;
  column-gap: 2rem;
  &__ledger {
    grid-area: home__ledger;
    &__header {
      z-index: 2;
      position: relative;
    }
    &__list {
      display: flex;
      border: 1px solid $color-grey-dark;
      height: 250px;
      .ReactVirtualized__Table__headerRow {
        background-color: $brand-secondary-light;
        color: $font-color-black;
        box-shadow: 0px 2px 2px #8a8383;
      }
      .ReactVirtualized__Table__row {
        &:nth-child(odd) {
          background-color: #cacaca;
        }
      }
    }
  }
  &__actionMenu {
    grid-area: home__actionMenu;
  }
}
